@model ProductListViewModel

<p>
	<a class="btn btn-outline-primary">Create New</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>Product Name</th>
			<th>UnitPrice</th>
			<th>UnitInStock</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model.Products)
		{
			<tr>
				<td>@item.ProductName</td>
				<td>@item.UnitPrice</td>
				<td>@item.UnitsInStock</td>
				<td>
					<a class="btn btn-xs btn-success">Add To Card</a>
				</td>
			</tr>
		}
	</tbody>

</table>

<product-list-pager current-page="@Model.CurrentPage"
					current-category="@Model.CurrentCategory"
					page-count="@Model.PageCount"
					page-size="@Model.PageSize">

</product-list-pager>